<?xml version="1.0"?>
<robot name="phoxi" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="phoxi_macro" params="prefix phoxi_model">

    <link name="${prefix}_base_link">
      <visual>
        <geometry>
          <mesh filename="package://phoxi_camera_ros2/meshes/visual/${phoxi_model}.stl" />
        </geometry>
        <material name="dark">
          <color rgba="0.2 0.2 0.2 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://phoxi_camera_ros2/meshes/collision/${phoxi_model}.stl" />
        </geometry>
      </collision>
    </link>

    <xacro:property name="pose" value="${xacro.load_yaml('$(find phoxi_camera_ros2)/param/camera_poses.yaml')[phoxi_model]}"/>
    <joint name="${prefix}_base_to_camera_joint" type="fixed">
      <origin rpy="${pose['rpy']}" xyz="${pose['xyz']}"/>
      <parent link="${prefix}_base_link"/>
      <child link="${prefix}_camera_link"/>
    </joint>
    <link name="${prefix}_camera_link">
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </link>

    <joint name="${prefix}_base_to_fov_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <parent link="${prefix}_base_link"/>
      <child link="${prefix}_fov_link"/>
    </joint>
    <link name="${prefix}_fov_link">
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://phoxi_camera_ros2/meshes/visual/${phoxi_model}_FOV.stl" />
        </geometry>
        <material name="green">
          <color rgba="0.1 1.0 0.1 0.1"/>
        </material>
      </visual>
    </link>

  </xacro:macro>
</robot>